*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  background: rgb(22, 22, 22);
  height: 100%;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}